:root {
    --default-font: "Garet", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Garet", sans-serif;
    --nav-font: "Garet", sans-serif;
  }
  
  /* Global Colors */
:root {
    --background-color: #EFE7DD;
    --geen-blue-soft-color: #2DE0CA;
    --dark-blue: #023047;
}

html {
    overflow-x: hidden; /*Esconde elementos fora da tela*/
}

  body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Garet';

    overflow-x: hidden;
  }

  /* Estilo para o cabeçalho */
  header {
    position: fixed; /* Fixa o cabeçalho */
    top: 0;
    right: 0; /* Alinha no canto superior direito */
    padding: 10px; 
  }
  
  /* Estilo para o botão de compartilhar */
  #share-button {
    background-color: var(--background-color);
    border: none; 
    border-radius: 50%; 
    width: 46px; 
    height: 46px; 
    display: flex; /* Permite centralizar o ícone verticalmente */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
  }
  
  /* Estilo para o ícone de compartilhar dentro do botão */
  #share-button img {
    width: 25px;
    height: auto;
  }
  

  /*background image*/

  /* Estilo para o fundo de imagem */
  .image-background {
    background-image: url('../img/praia-bg-inteiro.png'); /* Substitua pelo caminho correto da sua imagem de praia */
    background-size: cover; /* Redimensiona a imagem para cobrir a seção inteira */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    height: 100vh;
  }
  

  .wave-image-background {
    background-image: url('../img/onda-bg-blue-soft-cortado.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px; /* Defina uma altura mínima para a div */
    height: 55vh; /* Use porcentagem para a altura para telas maiores */
    width: 100%;
    position: relative;
    z-index: 2;
}

.seashell-image-background {
  background-image: url('../img/seashell-bg.png');
  background-color: var(--geen-blue-soft-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 450px) {
  .image-background {
    height: 80vh;
  }

  .wave-image-background {
      height: 10vh; /* Ajuste a altura para telas menores */
  } 
}
  .container {
    padding-inline: 40px;
    padding-top: 40px;
  }

  .logo {
    height: 100px;
    width: auto;
  }

  .letter {
    height: 60px;
    width: auto;
  }


  .contact-button {
    background-color: var(--dark-blue);
    border: none; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    margin: 10px;
  }
  
  /* Estilo para o ícone de compartilhar dentro do botão */
  .contact-button img {
    width: 40px;
    height: 40px;
  }

  #main-button {    
    width: 170px; 
    height: 40px; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .green-shadow {
    box-shadow: -10px 7px 2px 4px rgba(45, 224, 202, 0.3);
  }

  .green-button {
    background-color: var(--geen-blue-soft-color);
    border: none; 
    border-radius: 100px; 
    font-family: 'Garet';
    font-weight: bold;
    color: var(--dark-blue);
  }
  
/*Parte do meio*/

.left-image, .right-image {
    width: 70%; 
    max-width: 200px;
    height: auto; 
}

.more-button {
    background-color: var(--dark-blue);
    border: none; 
    border-radius: 20px; 
    width: 110px; 
    height: 60px; 
    margin: 10px;
  }
  
  /* Estilo para o ícone de compartilhar dentro do botão */
  .more-button img {
    width: auto;
    height: 30px;
  }

  .more-button p{
    padding: 0px;
    margin: 0;
    color: var(--background-color);
    font-family: 'Garet';
    font-weight: normal;
  }

/*Blue Background - Inferior*/
  .blue-background {
    background-color: var(--geen-blue-soft-color);
    height: 100vh;
    position: relative;
}

.blue-background::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url('../img/onda-bg-blue-soft.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2; /* Adicione um valor de z-index maior aqui */
    margin-top: -127 !important;
}

.seashell-image-background h3{
  color: var(--dark-blue);
  padding-top: 30px;
  padding-bottom: 10PX;
  margin: 0px;
}

.seashell-image-background .see-more-button {
   background-color: var(--dark-blue);
    border: none; 
    border-radius: 50px; 
    height: 40px; 
    padding-inline: 20px;
    color:var(--background-color);
    font-family: 'Garet';
    font-size: medium;
}

.blue {
  background-color: var(--geen-blue-soft-color);
}


  @media (max-width: 768px) {
    .container {
        margin: 0;
    }

    h4 {
       font-family: 'Garet'; 
       color: var(--dark-blue);
    }
  }  