:root {
    --default-font: "Garet", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Garet", sans-serif;
    --nav-font: "Garet", sans-serif;
  }
  
  /* Global Colors */
:root {
    --background-color: #EFE7DD;
    --geen-blue-soft-color: #2DE0CA;
    --dark-blue: #023047;
}

html {
    overflow-x: hidden;
}

  body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Garet';

    overflow: hidden;
  }

  /* Estilo para o cabeçalho */
  header {
    position: fixed; /* Fixa o cabeçalho */
    top: 0;
    right: 0; /* Alinha no canto superior direito */
    padding: 10px; 
  }
  
  /* Estilo para o botão de compartilhar */
  #share-button {
    background-color: var(--background-color);
    border: none; 
    border-radius: 50%; 
    width: 46px; 
    height: 46px; 
    display: flex; /* Permite centralizar o ícone verticalmente */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
  }
  
  /* Estilo para o ícone de compartilhar dentro do botão */
  #share-button img {
    width: 25px;
    height: auto;
  }
  

  /*background image*/

  /* Estilo para o fundo de imagem */
  .image-background {
    background-image: url('../img/praia-bg-inteiro.png'); /* Substitua pelo caminho correto da sua imagem de praia */
    background-size: cover; /* Redimensiona a imagem para cobrir a seção inteira */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    height: 90vh;
  }
  
  /* Estilo para a segunda div em azul (ignorando por enquanto) */
  .blue-background {
    background-color: var(--geen-blue-soft-color); /* Substitua pela cor desejada */
    height: 100vh;
  }
  
  .container {
    padding-inline: 40px;
    padding-top: 40px;
  }

  .logo {
    height: 100px;
    width: auto;
  }

  .letter {
    height: 60px;
    width: auto;
  }


  .contact-button {
    background-color: var(--dark-blue);
    border: none; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    display: flex; /* Permite centralizar o ícone verticalmente */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
    margin: 10px;
  }
  
  /* Estilo para o ícone de compartilhar dentro do botão */
  .contact-button img {
    width: 40px;
    height: 40px;
  }

  #main-button {    
    width: 170px; 
    height: 40px; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .green-shadow {
    box-shadow: -10px 7px 2px 4px rgba(45, 224, 202, 0.3);
  }

  .green-button {
    background-color: var(--geen-blue-soft-color);
    border: none; 
    border-radius: 100px; 
    font-family: 'Garet';
    font-weight: bold;
    color: var(--dark-blue);
    display: flex; /* Permite centralizar o ícone verticalmente */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
  }
  
/*Parte do meio*/

.left-image, .right-image {
    width: 70%; /* Define a largura das imagens como metade do contêiner */
    max-width: 200px; /* Define uma largura máxima se necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.more-button {
    background-color: var(--dark-blue);
    border: none; 
    border-radius: 20px; 
    width: 110px; 
    height: 60px; 
    display: flex; /* Permite centralizar o ícone verticalmente */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
    margin: 10px;
  }
  
  /* Estilo para o ícone de compartilhar dentro do botão */
  .more-button img {
    width: auto;
    height: 30px;
  }



  @media (max-width: 768px) {
    .container {
        margin: 0; /* Remova o padding ou ajuste conforme necessário */
    }

    h4 {
       font-family: 'Garet'; 
       color: var(--dark-blue);
    }
  }  